<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src=" /data/images/logo_v2.jpg"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            {% for mdata in mainmenu %}
                <li> <a href="/{{mdata['alias']}}">{{ mdata['name'] }}</a>  </li>    
                {% endfor %}    
        </ul>
    </div>
</nav>